{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/card.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/project.css' %}">
<script type="text/javascript">
    window.onload = function(){
        var matches = document.getElementsByClassName("nav-link");
        for(var i=0; i< matches.length;i++){
            matches[i].classList.remove('active');
        }
        var target = document.getElementById("project").className += ' active';
    };
</script>
<div class="Project">
    <div
    class="Category"
    style="
      background: url('{% static 'image/banner.jpg' %}');
      background-size: cover;
      background-position: center center;
    "
  >
        <div class="container">
            <h3>PROJECTS</h3>
        </div>
    </div>
    <div class="container">
        <div class="Contents">
            <div class="label">
                <h4>Papers</h4>
            </div>
            {% for project in projects %}
            {% cycle '<div class="row">' '' %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card_frame">
                    <div class="card_item">
                        <h6>
                            <span style="color: black;"> #{{ forloop.revcounter}} </span>
                            {% if project.status == 'Doing'  %}
                               {{project.title}} - ongoing
                            {% else %}
                                {{project.title}}
                            {% endif %}
                        </h6>
                        <div class="clearfix">
                            <div class="text">
                                <ul>
                                    {% if project.date or project.label or project.area %}
                                    <li>
                                        <p>
                                            {% if project.date %}
                                                {{project.date}}, 
                                            {% endif %}
                                            {% if project.label %}
                                            {{project.label}}, 
                                            {% endif %}
                                            {% if project.area %}
                                            {{project.area}}
                                            {% endif %}
                                        </p>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% cycle '' '</div>' %}
            {% if forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

</div>
<div class="AI Challenge">
    <div class="container">
        <div class="Contents">
            <div class="label">
                <h4>AI Challenge</h4>
            </div>
            {% for ai in ai_challenges %}
            {% if ai.status != 'To Do' %}
            {% cycle '<div class="row">' '' %}
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card_frame">
                        <div class="card_item">
                            <h6>
                            <span style="color: black;"> #{{ forloop.revcounter}} </span>
                                {% if ai.link == 'None'%}
                                    {{ai.title}}
                                {% else %}
                                    {{ai.title}}
                                    <a href={{ ai.link }} target="_blank"> [Link]</a>
                                {% endif %}
                            </h6>
                            <div class="clearfix">
                                <div class="text">
                                    <ul>
                                        {% if ai.assign %}
                                        <li>
                                            <p>{{ ai.assign }}</p>
                                        </li>
                                        {% endif %}
                                        {% if ai.area %}
                                        <li>
                                            <p>{{ai.area}}</p>
                                            {% if ai.award %}
                                            <ul>
                                                <li>{{ ai.award }}</li>
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% else %}
                                        {% if ai.award %}
                                        <li>{{ ai.award }}</li>
                                        {% endif %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                {% cycle '' '</div>' %}
            {% if forloop.last %}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}