{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/member.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/card.css' %}">

<script type="text/javascript">
    window.onload = function () {
        var matches = document.getElementsByClassName("nav-link");
        for (var i = 0; i < matches.length; i++) {
            matches[i].classList.remove('active');
        }
        var target = document.getElementById("member").className += ' active';
    };
</script>
<div>
    <div
    class="Category"
    style="
      background: url('{% static 'image/banner.jpg' %}');
      background-size: cover;
      background-position: center center;
    "
  >
        <div class="container">
            <h3>MEMBERS</h3>
        </div>
    </div>
    <div class="Contents">
        <div class="label">
            <h4>Graduate Students</h4>
        </div>
        {% for g in graduated %}
        {% if g.admission_date|length %}
        {% cycle '<div class="row">' '' %}
        <div class="card profile">
            <div class="card-inner">
                <div class="profile-element">
                    <div class="profile-img" style="background-image: url({% get_static_prefix %}image/{{g.pic}});">
                    </div>
                    <div class="line"></div>
                    <div class="name">
                        <h5>{{g.name}}</h5>
                        <div class="date">
                            {% if g.admission_date|length %}
                            <p style="margin-bottom:0px">
                                {{g.admission_date}}
                            </p>
                            <p>
                                {% if g.course|length %}{{g.course}}{% endif %}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="text card-body">
                    <ul>
                        {% if g.research_interests.all|length < 4 %} <li class="research_interests">
                            <h6>Research Interests</h6>
                            <ul>
                                {% for r in g.research_interests.all %}
                                <li>
                                    <p>{{r}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% else %}
                        <li class="research_interests">
                            <h6>Research Interests</h6>
                            <ul>
                                {% for r in g.research_interests %}
                                <li>
                                    <p>{{r}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <li class="contact">
                            <h6>Contact</h6>
                            <ul>
                                <li>
                                    <p>📫 : {{g.email}}</p>
                                </li>
                                {% if g.linked.all|length %}
                                <li>
                                    {% for l in g.linked.all %}
                                    <a href="{{l.link}}">[{{l.title}}]</a>
                                    {% endfor %}
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% cycle '' '</div>' %}
        {% if forloop.last %}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
</div>

<div>
    <div class="Contents" style="padding: 3% 0px 0px 0px;">
        <div class="label">
            <h4>Ungraduate Students</h4>
        </div>
        {% for g in graduated %}
        {% if not g.admission_date|length %}
        {% cycle '<div class="row">' '' %}
        <div class="card profile">
            <div class="card-inner">
                <div class="profile-element">
                    <div style="background-image: url({% get_static_prefix %}image/{{g.pic}});" class="profile-img">
                    </div>
                    <div class="line"></div>
                    <div class="name">
                        <h5>{{g.name}}</h5>
                        <div class="date">
                            {% if g.admission_date|length %}
                            <p>
                                {{g.admission_date}}
                                {% if g.course|length %}{{g.course}}{% endif %}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="text card-body">
                    <ul>
                        {% if g.research_interests.all|length %}
                        <li class="research_interests">
                            <h6>Research Interests</h6>
                            <ul>
                                {% for r in g.research_interests.all %}
                                <li>
                                    <p>{{r}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <li class="contact">
                            <h6>Contact</h6>
                            <ul>
                                <li>
                                    <p>📫 : {{g.email}}</p>
                                </li>
                                {% if g.linked.all|length %}
                                <li>
                                    {% for l in g.linked.all %}
                                    <a href="{{l.link}}">[{{l.title}}]</a>
                                    {% endfor %}
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% cycle '' '</div>' %}
        {% if forloop.last %}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
<div class="Contents" style="padding:0px 0px 3% 0px;;">
    <div class="card_frame ">
        <div class="card_item profile text-only">
            <ul>
                <li>
                    <h6>Undergraduate Research Program (URP)</h6>
                </li>
                <li>
                    <div class="item">
                        <div class="text_whole">
                            <ul>
                                <li>
                                    4th grade :
                                    <ul>
                                        {% if project_4th.all|length %}
                                        {% for p in project_4th%}
                                        <li>
                                            {% for a in p.alumni.all %}
                                            {{a}}
                                            {% endfor %}
                                            - {{p.title}}
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li>
                                            Waiting...
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li>
                                    3rd grade :
                                    <ul>
                                        {% if project_3rd.all|length %}
                                        {% for p in project_3rd%}
                                        <li>
                                            {% for a in p.alumni.all %}
                                            {{a}}
                                            {% endfor %}
                                            - {{p.title}}
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li>
                                            Waiting...
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<div>
    <div class="Contents" style="padding: 3% 0px 0px 0px;">
        <div class="label">
            <h4>Alumni</h4>
        </div>
        {% for m in master %}
        {% if m.graduate_year|length %}
        {% cycle '<div class="row">' '' %}
        <div class="card profile">
            <div class="card-inner">
                <div class="profile-element">
                    <div class="profile-img" style="background-image: url({% get_static_prefix %}image/{{m.pic}});">
                    </div>
                    <div class="line"></div>
                    <div class="name">
                        <h5>{{m.name}}</h5>
                        <div class="date">
                            <h6 style="text-align: right;">{{m.course}}</h6>
                            {% if m.graduate_year|length %}
                            <p style="margin-bottom:0px">
                                {{m.graduate_year}}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            <div class="text card-body">
                <ul>
                    <li class="thesis">
                        {% for thesis in m.thesis.all %}
                        <div class="thesis_links" style="display:flex; justify-content: space-between;">
                                <h6>Thesis Title</h6>
                                <h6 style="text-align: right;list-style-type: none !important;">
                                    {% if thesis.paper_link %}
                                    <a style="font-size:0.8rem;" href="{{thesis.paper_link}}">[Paper]</a>
                                    {% endif %}
                                    {% if thesis.slide_link %}
                                    <a style="font-size:0.8rem;" href="{{thesis.slide_link}}">[Slide]</a>
                                    {% endif %}
                                </h6>
                            </div>
                            <ul>
                                <li style="font-size:1.1rem; word-break:keep-all; list-style-type: none !important;">
                                    {{thesis.title}}</li>
                            </ul>
                            {% endfor %}
                        </li>
                        {% if m.employment|length %}
                        <li class = "employment">
                            <h6>Current Position</h6>
                            <ul>
                                <li>
                                    {{ m.employment }}
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="contact">
                            <h6>Contact</h6>
                            <ul>
                                <li>
                                    <p>📫 : {{m.email}}</p>
                                </li>
                                {% if m.linked.all|length %}
                                <li>
                                    {% for l in m.linked.all %}
                                    <a href="{{l.link}}">[{{l.title}}]</a>
                                    {% endfor %}
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif  %}
            </ul>
        </div>
    </div>
</div>
{% cycle '' '</div>' %}
{% if forloop.last %}
</div>
{% endif %}
{% endif %}
{% endfor %}
<div class="Contents" style="padding:0px 0px 3% 0px; justify-content:center">
    <div class="card_frame">
        <div class="card_item profile text-only">
            <ul>
                <li>
                    <h6>URP Students</h6>
                </li>
                <li>
                    <div class="item">
                        <div class="text_whole">
                            <ul>
                                {% for key, value in project.items %}
                                <li>
                                    {{key}}:
                                    {% if value|length %}
                                    {% for q in value %}
                                    <ul>
                                        <li>
                                            {% for a in q.alumni.all %}
                                            {{a}}
                                            {% endfor %}
                                            - {{q.title}}
                                        </li>
                                    </ul>
                                    {% endfor%}
                                    {% else %}
                                    <ul>
                                        <li>
                                            {% for na in no_project_alumni.all %}
                                            {{na}}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor%}
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}